#Кодировка по умолчанию
AddDefaultCharset UTF-8

#Отключаем magic_quotes_gpc
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_value register_globals Off

#Отключаем сообщения типа warning и notice
php_value error_reporting 1

#Включаем поддержку коротких тегов
php_flag short_open_tag on

#ВСЕ ОШИБКИ:

#1. ОШИБКИ КЛИЕНТА ( #4xx ):
# -- Если страница не существует ( #404):
ErrorDocument 404 http://localhost/journal/error.php?error_code=404

#END ОШИБКИ КЛИЕНТА


#2. ОШИБКИ СЕРВЕРА ( #5xx ):
# -- Если ... ( #500 ):
ErrorDocument 500 http://localhost/journal/error.php?error_code=500

#END ОШИБКИ СЕРВЕРА